<div class='section'>
    <h2>Log In</h2>
    <form id='loginForm'>
        <div>
            <label>Username</label>
            <input type='text' id='userLogin' />
            <label>Password</label>
            <input type='text' id='passwordLogin' />
        </div>
        <button type='submit' id='loginBtn'>Login</button>
    </form>

    <a href='/signup'>Create a Username here!</a>    
</div>