{{!-- {{#if loggedIn}} --}}
<div class='section'>
    <h2>New Post</h2>
    <form id='newPost'>
        <div>
            <label>Title</label>
            <input type='text' id='newPostTitle' />
            <label>Content</label>
            <input type='text' id='newPostContent' />
        </div>
        <button type='submit' id='loginBtn'>Submit</button>
    </form>      
</div>
{{!-- {{else}}
<a class="link" href="/login">Login</a>
{{/if}} --}}