<div class='section'>
    <h2>New User!</h2>
    <form id='createForm'>
        <div>
            <label>Create Username</label>
            <input type='text' id='createUser' />
            <label>Create Password</label>
            <input type='text' id='createPassword' />
        </div>
        <button type='submit' id='createBtn'>Create User</button>
    </form>

    <a href='/login'>Log in Here!</a>    
</div>